{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block form %}  
<form id="ship-form" method="post" action="/rates/">
{{ parcel_form.csrf_token }}                 
<div class="row">
	<div class="col-sm-6 col-md-4">
        <section class="address">
            <h2>Sender</h2>
            <div class="panel">
				{{ render_field(parcel_form.sender_name, class="form-control") }}
				{{ render_field(parcel_form.sender_company, class="form-control") }}
				{{ render_field(parcel_form.sender_address1, class="form-control") }}
				{{ render_field(parcel_form.sender_address2, class="form-control") }}
				{{ render_field(parcel_form.sender_city, class="form-control") }}
				{{ render_field(parcel_form.sender_state, class="form-control") }}
				{{ render_field(parcel_form.sender_zip_code, class="form-control") }}
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-4">
		<section class="address">
            <h2>Receiver</h2>
            <div class="panel">
				{{ render_field(parcel_form.receiver_name, class="form-control") }}
				{{ render_field(parcel_form.receiver_company, class="form-control") }}
				{{ render_field(parcel_form.receiver_address1, class="form-control") }}
				{{ render_field(parcel_form.receiver_address2, class="form-control") }}
				{{ render_field(parcel_form.receiver_city, class="form-control") }}
				{{ render_field(parcel_form.receiver_state, class="form-control") }}
				{{ render_field(parcel_form.receiver_zip_code, class="form-control") }}
			</div>
		</section>
	</div>
	<div class="col-md-12 col-md-4">
		<section>
			<h2>Package</h2>
    		<div class="panel">
			    {{ render_field(parcel_form.length, class="form-control") }}
			    {{ render_field(parcel_form.width, class="form-control") }}
			    {{ render_field(parcel_form.height, class="form-control") }}
		      	<div class="form-group">
		      		<label for="parcelWeight">Weight</label>
			      	<div class="input-group">
			      		<input type="text" name="weight" class="form-control" id="parcelWeight">
			      		<div class="input-group-addon">
			      			<label class="radio-inline">
								<input type="radio" name="weight-unit" value="lb" checked>lb
							</label>
			      		</div>
			      		<div class="input-group-addon">
			      			<label class="radio-inline">
								<input type="radio" name="weight-unit" value="oz">oz
							</label>
			      		</div>
		      		</div>
		      	</div>
		   	</div>
	   	</section>
	   	<section>
	   		<h2>Carriers</h2>
	   		<div class="panel">
				{% for carrier in carriers %}
				<label class="checkbox-inline">
					<input type="checkbox" name="carrier" value="{{ carrier }}" checked>{{ carrier }}
				</label>
				{% endfor %}

			</div>
		</section>
		<section>
			<h2>Check Rates</h2>
			<div class="panel">
				<input type="submit" value="Check Rates" class="btn btn-success">
			</div>
		</section>
	</div>
</div>

</form>
{% endblock form %}
